[Unit]
Description=Backup

[Service]
Type=oneshot
EnvironmentFile=/etc/backup.conf
# ExecStart=/usr/bin/borg create ${BORG_REPOSITORY}::system-{now:%%d-%%m-%%Y} --verbose --stats --exclude-caches --keep-tag-files --one-file-system --compression --exclude /home/user zlib /

[Install]
WantedBy=multi-user.target
