[Unit]
Description=Fix for the OpenVPN plugin for NetworkManager
Before=nm-openvpn.service

[Service]
Environment="PYTHONUNBUFFERED=True"
ExecStart=/usr/bin/fix-networkmanager-openvpn

[Install]
WantedBy=multi-user.target
