[Unit]
Description=Fix for openvpn@%I
Before=openvpn@%i.service

[Service]
Environment="PYTHONUNBUFFERED=True"
ExecStart=/usr/bin/fix-openvpn %i
Restart=always
RestartSec=1
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
