[Unit]
Description=Update root hints for Unbound
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/curl -o /etc/unbound/root.hints https://www.internic.net/domain/named.cache

[Install]
WantedBy=multi-user.target
