[Unit]
Description=Whitelist domains for the VPN
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/vpn-whitelist-domains --file /etc/vpn-whitelist-domains/domains

[Install]
WantedBy=multi-user.target
