[Unit]
Description=Warm up DNS resolver
After=network-online.target

[Service]
ExecStart=/usr/bin/warm-up-dns-resolver --file ~/.warm-up-dns-resolver-domains --use-firefox

[Install]
WantedBy=multi-user.target
